<!--header -->
<% include partials/header.ejs %>

<!--About me Page -->

<div id="about"
<br>
<div class ="col-md-6" 
<br>
 <img id="avatar" src="/Assets/images/albin.jpg"></img>
 <div class="details"
 <br>
 <h3>Software Engineering Technology</h3>
 <h4>Centennial College</h4>
 
</div
 </div>
       </div>
      
 
         <div class ="col-md-6" 
<br>
    <h1 id="AboutHeader"><%= title%></h1>
    <div class"content"
    <br>
        <p>I am Albin Job,Pursuing Software Enginerring Technology in Centennial College.</p> 
        <p>I am having almost 3 years of experience in Software Development </p>
        <p>I would like explore more about the Software Industry </p>
        </div>
       


</div>
        </div>

        
 </div>
       
        </div>

        <!-- footer-->
<% include partials/footer.ejs %>

