<!--header -->
<% include partials/header.ejs %>

<!--Main content-->

<div class = "row1">

<div class ="col-md-8" 

    
<br>
      <h1 id ="homeHeader"><%= title %></h1>
      <p id ="paraHome">This is a Portfolio Assignment for Emerging technology 
       Where we are learning how to work with Node.js, EJS and having lots of new technologies.</p>
       
 </div>
        </div>
        

</div>


 






<!-- footer-->
<% include partials/footer.ejs %>



